# 编译输出
Release/
Debug/
x64/
Generated/

# VS 临时文件
.vscode/
.vs/
*.suo
*.VC.db
*.VC.opendb

# Copilot 和索引缓存
*.vsidx
*.db-shm
*.db-wal

# 自动生成
ipch/
*.tlog
*.log

# 方案备份git rm -r --cached .vs
git rm -r --cached Generated/
git rm --cached path/to/你不想追踪的文件
git add .
git commit -m "清除临时文件并添加.gitignore"

*.bak
*.backup

# 图像缓存
*.png.cache
